@use "../styles/mixins/media.scss";

@mixin getRatio($height) {
  width: #{$height * 0.75}px;
  height: #{$height}px;
}

.game {
  position: relative;
  border-radius: 15px;
  display: flex;
  will-change: transform; // Fixes rounding issue

  overflow: hidden;

  @include getRatio(500);
}

.image {
  object-fit: cover;
  border-radius: 15px;
}

.content {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40%;
  background-color: rgba(#383838a4, 50%);
  padding: 15px;
  backdrop-filter: blur(4px);
  will-change: transform; // Fixes rounding issue
}

.button {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 2px solid #18191a;
  background-color: #fa5353;
  cursor: pointer;
  &:hover {
    background-color: #e44d4d;
  }
  &:active {
    background-color: #d64747;
  }
}

.play {
  color: var(--sidebar-color);
  color: var(--text-color);
  font-size: 25px;
  width: 104%;
}
