@use "../styles/mixins/media.scss";

$gap: 25px;

// $image

/*Flexbox*/
.games-grid {
  display: flex;
  flex-wrap: wrap;

  margin-top: 5rem;
  margin-left: $gap;
  margin-right: $gap;
  gap: $gap;
}
